All Files GitHub SmartBridge/april1st-Rsip-2020-master/Nodered/Sudarsan S - Assignment 12 - IBM Watson.json
[{"id":"b2660439.a983f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e8eb1d00.ed6a78","type":"function","z":"b2660439.a983f","name":"PreToken","func":"global.set(\"rn\",msg.payload.ad)\nglobal.set(\"cid\",msg.payload.ms)\nglobal.set(\"sname\",msg.payload.rd)\nglobal.set(\"cscore\",msg.payload.rd)\nglobal.set(\"age\",msg.payload.rd)\nglobal.set(\"dur\",msg.payload.rd)\nglobal.set(\"bal\",msg.payload.rd)\nglobal.set(\"prod\",msg.payload.rd)\nglobal.set(\"sal\",msg.payload.rd)\nvar apikey=\"OQ6O4XTzJxwOc2KBhyhvUGOZmyOOS4S_U-kIiCZTKzfA\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["78ff647.9439e1c"]]},{"id":"78ff647.9439e1c","type":"http request","z":"b2660439.a983f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["71a69df3.e50414","b67e4520.185b1"]]},{"id":"9cdb78bc.114558","type":"inject","z":"b2660439.a983f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[[]]},{"id":"b67e4520.185b1","type":"function","z":"b2660439.a983f","name":"Pre Prediction","func":"var rn = global.get('rn')\nvar cid = global.get('cid')\nvar sname= global.get('sname')\nvar cscore = global.get('cscore')\nvar age = global.get('age')\nvar dur = global.get('dur')\nvar bal = global.get('bal')\nvar prod = global.get('prod')\nvar sal = global.get('sal')\nvar geo = global.get('geo')\nvar gen = global.get('gen')\nvar ccard = global.get('ccard')\nvar work = global.get('work')\nvar token=msg.payload.access_token\nvar instance_id=\"b1925ff8-3e2d-422a-affe-809467c446d1\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"],\"values\": [[rn,cid,sname,cscore,geo,gen,age,dur,bal,prod,ccard,work,sal]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["ee24ce61.9643f8"]]},{"id":"ee24ce61.9643f8","type":"http request","z":"b2660439.a983f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/7ce94a83-467b-4429-9f96-ce307ef94ee8/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":160,"wires":[["ca574d60.4a5298","d574fe8b.3abbb8"]]},{"id":"c5da1947.aa1078","type":"ui_form","z":"b2660439.a983f","name":"","label":"","group":"261a6eb7.7e6dfa","order":0,"width":0,"height":0,"options":[{"label":"Row Number","value":"rn","type":"number","required":true,"rows":null},{"label":"Customer id:","value":"cid","type":"number","required":true,"rows":null},{"label":"Surname:","value":"sname","type":"text","required":true,"rows":null},{"label":"Credit Score:","value":"cscore","type":"number","required":true,"rows":null},{"label":"Age:","value":"age","type":"number","required":true,"rows":null},{"label":"Tenure:","value":"dur","type":"text","required":true,"rows":null},{"label":"Balance:","value":"bal","type":"number","required":true,"rows":null},{"label":"Number of Products:","value":"prod","type":"number","required":true,"rows":null},{"label":"Estimated Salary:","value":"sal","type":"number","required":true,"rows":null}],"formValue":{"rn":"","cid":"","sname":"","cscore":"","age":"","dur":"","bal":"","prod":"","sal":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["52a5cf36.b17c68","e8eb1d00.ed6a78"]]},{"id":"52a5cf36.b17c68","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":400,"wires":[]},{"id":"6107249a.fbc584","type":"ui_dropdown","z":"b2660439.a983f","name":"","label":"","tooltip":"","place":"Select option","group":"261a6eb7.7e6dfa","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"France","value":"France","type":"str"},{"label":"Spain","value":"Spain","type":"str"},{"label":"Germany","value":"Germany","type":"str"}],"payload":"","topic":"","x":180,"y":460,"wires":[["a2766011.1eaf88"]]},{"id":"b62dbf79.0bcca8","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"a2766011.1eaf88","type":"function","z":"b2660439.a983f","name":"PreToken","func":"global.set(\"geo\",msg.payload)\n","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["b62dbf79.0bcca8"]]},{"id":"71a69df3.e50414","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":360,"wires":[]},{"id":"5e8411a1.0fbe68","type":"ui_dropdown","z":"b2660439.a983f","name":"","label":"","tooltip":"","place":"Select option","group":"261a6eb7.7e6dfa","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"","x":160,"y":520,"wires":[["80e7c03f.943d38"]]},{"id":"258bcf2c.62fcf","type":"ui_dropdown","z":"b2660439.a983f","name":"","label":"Credit Card:","tooltip":"","place":"Select option","group":"c74a0090.f94c7","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Has Credit Card","value":"1","type":"str"},{"label":"Does not have a Credit Card","value":"0","type":"str"}],"payload":"","topic":"","x":150,"y":580,"wires":[["289491d4.6a1396"]]},{"id":"f7420076.58095","type":"ui_dropdown","z":"b2660439.a983f","name":"","label":"Is active member","tooltip":"","place":"Select option","group":"261a6eb7.7e6dfa","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Is Working","value":"1","type":"str"},{"label":"Is not Working","value":"0","type":"str"}],"payload":"","topic":"","x":170,"y":640,"wires":[["17cc0c5f.c46644"]]},{"id":"2c2bca14.204e0e","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"80e7c03f.943d38","type":"function","z":"b2660439.a983f","name":"PreToken","func":"global.set(\"gen\",msg.payload)\n","outputs":1,"noerr":0,"x":380,"y":520,"wires":[["2c2bca14.204e0e"]]},{"id":"475f0f33.52d368","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":580,"wires":[]},{"id":"289491d4.6a1396","type":"function","z":"b2660439.a983f","name":"PreToken","func":"global.set(\"ccard\",msg.payload)\n","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["475f0f33.52d368"]]},{"id":"1a3112ce.ad78cd","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":640,"wires":[]},{"id":"17cc0c5f.c46644","type":"function","z":"b2660439.a983f","name":"PreToken","func":"global.set(\"work\",msg.payload)\n","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["1a3112ce.ad78cd"]]},{"id":"ca574d60.4a5298","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":300,"wires":[]},{"id":"2fc87b8a.06ea94","type":"ui_text","z":"b2660439.a983f","group":"261a6eb7.7e6dfa","order":1,"width":0,"height":0,"name":"","label":"Exit prediction","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":140,"wires":[]},{"id":"d574fe8b.3abbb8","type":"function","z":"b2660439.a983f","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 1)\n{\nmsg.payload = \"Exited\";\n}\nelse\n{\nmsg.payload = \"Not Exited\";\n}\nreturn  msg;","outputs":1,"noerr":0,"x":930,"y":200,"wires":[["59880099.d43c2","2fc87b8a.06ea94"]]},{"id":"59880099.d43c2","type":"debug","z":"b2660439.a983f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":300,"wires":[]},{"id":"261a6eb7.7e6dfa","type":"ui_group","z":"","name":"Churn Modelling using ibm","tab":"f202884b.27da98","order":1,"disp":true,"width":"6","collapse":false},{"id":"c74a0090.f94c7","type":"ui_group","z":"","name":"Basic Flow","tab":"d4573be9.f2757","order":1,"disp":true,"width":"6","collapse":false},{"id":"f202884b.27da98","type":"ui_tab","z":"","name":"churn modelling using ibm","icon":"dashboard","disabled":false,"hidden":false},{"id":"d4573be9.f2757","type":"ui_tab","z":"","name":"Nodered web application","icon":"dashboard","disabled":false,"hidden":false}]